
.block {
  display: inline-block;
  width: 300px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #00a74d;
  margin: 3px;
  margin-bottom: 1em;
  padding: 5px;
}

.block:hover, .transaction:hover {
  box-shadow: 5px 5px 5px #000000;
}
 
.block, .block .transaction {
  color:black;
  background:#00e78d;
  box-shadow: none;
}

.block.selected, .block.selected .transaction {
    color:black;
    background:#00b74d;
}
 
.transaction {
  display: inline-block;
  /*width:200px;*/
   
   border-radius: 6px;
   background:#b4c4fc;
   color:black;
   margin: 2px;
   padding: 3px;
   box-shadow: 5px 5px 5px #7484bc;
   
}

.transaction.selected {
   background:#8ba3f9;
}

.blockTransaction {
    padding-left: 1em;
}

input {
    vertical-align: top;
}

.button {
  display:inline-block;
  padding:0.7em 1.7em;
  margin:0 0.3em 0.3em 0;
  border-radius:0.2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  color: black;
  background-color:#00e78d;
  box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
  text-align:center;
  position:relative;
}


.button:hover {
  background-color:#00b74d;
}